@model Fitness_Center.Models.UserViewModel

@{
    Layout = "~/Views/Shared/_AdminDashbord.cshtml";
    ViewData["Title"] = "Add User";
}

<section class="signup">
    <div class="container">
        <div class="signup-content">
            <div class="signup-form">
                <h2 class="form-title">Add New</h2>
                <form asp-action="AddUser" method="post" class="register-form" id="register-form" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="Fname">First Name</label>
                        <input asp-for="Fname" class="form-control" />
                        <span asp-validation-for="Fname" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Lname">Last Name</label>
                        <input asp-for="Lname" class="form-control" />
                        <span asp-validation-for="Lname" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ImageFile">Upload Image</label>
                        <input asp-for="ImageFile" type="file" class="form-control" />
                        <span asp-validation-for="ImageFile" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="userName">Username</label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input asp-for="Password" type="password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="role">Role</label>
                        <select asp-for="Role" class="form-control">
                            <option value="3">Customer</option>
                            <option value="2">Employee</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
